.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.container {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

h1 {
  text-align: center;
}

button {
  display: block;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading {
  text-align: left;
  /* display: inline-block; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 70%;
}
.pagePreview {
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
